[Unit]
Description=Movie Frontend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/movie-analyst-ui-azure
Environment=BACKEND_URL={{ backend_ilb_private_ip }}
Environment=PORT=80
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target