[Unit]
Description=Movie Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ backend_app_dir }}

Environment=KEY_VAULT_URI=https://{{ key_vault_name }}.vault.azure.net
Environment=DB_SECRET_NAME={{ db_secret_name }}
Environment=PORT=3000

ExecStart=/usr/bin/npm start

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target